
* {
    box-sizing: border-box;
}

body {
    background: #c9c9c9;
    font-size: 14px;
}

.imac {
    background: white;
    width: 1280px;
    height: 720px;
    margin: 10%;
    padding: 10px;

}

h1, h2 {
    font-family: Roboto, serif;
}
h3 {
    font-family: Sail, system-ui;
}


.block_1 {
    background: #55B3B9;
    width: 75%;
    height: 150px;
    padding: 10px;
}

.h1_block_1 {
    font-family: Roboto, sans-serif;
    font-size: 4em;
    text-align: left;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.h2_block_1 {
    font-size: 3em;
    margin: auto;
}

.block_2 {
    background: #C56060;
    margin-left: 50%;
    margin-top: 10px;
    height: 150px;
    padding: 10px;
}

.h2_block_2 {
    font-size: 3em;
    margin: auto;
}

.h3_block_2 {
    font-size: 2em;
    margin: auto;
    font-family: Sail, serif;
}

.block_3 {
    background: #8FC091;
    margin: auto 15%;
    text-align: center;
    margin-top: 10px;
    height: 150px;
    padding: 10px;
}

.h2_block_3 {
    font-size: 1.5em;
    margin: auto;
}

.h3_block_3 {
    font-size: 1em;
    margin: auto;
    font-family: Sail, serif;
}

.block_4 {
    background: #8F86AF;
    margin-right: 50%;
    text-decoration: line-through;
    margin-top: 10px;
    height: 150px;
    padding: 10px;
}

.h2_block_4 {
    font-size: 3em;
    margin: auto;

}

.h3_block_4 {
    font-size: 2em;
    margin: auto;
}

/* -------------------------- ДОМАШНЯ РОБОТА --------------------------*/

.imac > div:hover {
    font-size: 2em;
    /*height: auto;*/
    margin: 0;
    width: auto;
}

h2:hover {
    text-decoration: underline;
}

.imac > div:hover + div  {
    border: 8px solid #ff0000;
}